@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.newsletter-widget {
  max-width: 800px; /* Increased max-width for a wider layout */
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto; /* Center horizontally and add vertical space */
  text-align: center;
}

.newsletter-content {
  padding: 10px;
}

.newsletter-icon {
  font-size: 2rem;
  color: #A83232;
  margin-bottom: 10px;
}

.newsletter-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}

.newsletter-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.newsletter-input:focus {
  border-color: #A83232;
}

.newsletter-button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #A83232;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-button:hover {
  background-color: darkred;
}
